body {
  background:linear-gradient(120deg, #ffe4e1, #fffdd0, #d6f0ff);
padding:15px;
}
h2{
font-family:cursive;
text-decoration:underline
}
h3{
font-family:cursive;
text-decoration:underline
}
