body{
font-family:Arial,sans-serif;
margin:10px;
background-color:#f8f9fa;
}
.h{
max-width:600px;
padding:20px;
border-radius:10px;
}
hr{
border:1 px solid #dd;
}
ul{
padding-left:20px;
}
a{
text-decorstion:none;
color:#007bff;
}
